<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'Preview'}); %> 
</head>
<body>
    <div class="prev-container">
        <%- include('../partials/base-nav', {signedIn: signedIn}); %> 
        <!--PREVIEW IMAGE-->

        <div class="prev-card">
            <div class="left-prev">
                <a href="<%= entry.file_path %>" target="_blank">
                    <img src="<%= entry.file_path %>" alt="" 
                    style="width: 500px; 
                           height: 500px;
                           border-radius: 5px;">
                </a>
            </div>
            <div class="right-prev">
                <div class="top-section">
                    <div class="top-1">
                        <h1><%= entry.title %></h1>
                        <div class="top-1-right">
                            <span class="material-symbols-outlined"> military_tech</span>
                        </div>
                    </div>
                    <div class="top-2">
                        <span class="material-symbols-outlined">person</span>
                        <h3>@<%= entry.username %></h3>
                    </div>
                </div>
                <div class="content-section"><%= entry.caption %>
                    <p></p>
                </div>
                <div class="bot-section">
                    <button type="button" class="prev-like" style="cursor: pointer;">
                        <span class="material-symbols-outlined">thumb_up</span>
                    </button>
                    <p>320</p>
                </div>
            </div>
        </div>


    </div>


</body>
</html>